<!DOCTYPE html>
<html>
<body>

<h1>Meet Where</h1>

<form name="form" action="/create" method="POST">
	Name: 
	<input type="text" name="name"><br>
	Event: 
	<input type="text" name="event"><br>
	Time: 
	<input type="date" name="date"><br>
	My Location: 
	<input type="text" name="location"><br>
	Location Type: 
	<select>
		<option value="Restaurant">Restaurant</option>
		<option value="Library">Library</option>'
		<option value="Cafe">Cafe</option>
	</select><br>
	<input type="submit" value="Enter">
</form>

</body>
</html>