body, html {
    height: 100%;
    background-color: black;
    margin: 0;
}

.bg {
    background-image: url("bg2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.description, .futureDirections, .pleaseContact {
    top: 100px;
    margin-left: 80px;
    font-size: 22px;
    color: black;
    margin-right: 70px;
    font-family: Garamond;
    text-align: left;
    font-weight: bold;
}

span {
    color: yellow;
    font-weight: bold;
    font-family: Garamond;
}

.fieldsOfInterest, .functionsOfInterest {
    list-style-type: none;
    font-size: 22px;
    color: navy;
    font-family: Garamond;
    text-align: left;
    margin-left: 280px;
    font-weight: bold;
}

.contactForm {
    top: 50px;
    margin-left: 80px;
    font-size: 22px;
    color: yellow;
    margin-right: 70px;
    font-family: Garamond;
    text-align: left;
}
