
body, html {
    background-color: rgb(6, 6, 0); /*black*/
    height: 100%; /*full image*/
    margin: 0;
}

/*background image format*/
.bg {
    background-image: url("bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* navigation bar format */
.topnav {
    background-color: black;
    overflow: hidden;
    margin: 20px;
    padding: 20px;
    font-family: Garamond;
}

 /* Style the links inside the navigation bar */
 .topnav a {
        float: right;
        color: rgb(220, 226, 93);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
    }

 /* Style the color on hover */
.topnav a:hover {
        background-color: #aaa; /*white*/
    }

/* Style the title*/
h1 {
    color: yellow;
    font-family: Helvetica;
    text-align: left;
    margin-left: 80px;
}

/* Style the span*/
span {
    color: yellow;
    font-family: Helvetica;
    text-align: left;
}

/* Format the display message*/
.displayMessage {
    width: 250px;
    height: 100px;
    position: absolute;
    top: 180px;
    left: 85px;
    overflow: visible;
    font-size: 20px;
    font-style: italic;
    color: blue;
    background-color: lightblue;
    text-align: left;
    font-family: Garamond;
}

/* Format the input area*/
.flashcardInput {
    font-size: 24px;
    color: yellow;
    text-align: right;
    margin-right: 70px;
    font-family: Garamond;
    margin-right: 70px;
}

/* Format the submit and clear buttons*/
.submit, .clearForm {
    float: right;
    padding: 12px 28px;
    font-size: 12px;
    color: black;
    text-align: center;
    font-family: Garamond;
}

/* Format Flashcard One*/
.flashcardOutput {
    margin-top: 50px;
    margin-left: 970px;
    width: 250px;
    font-size: 20px;
    font-style: italic;
    color: blue;
    background-color: lightblue;
    text-align: center;
    font-family: Garamond;
}

/* Format Flashcard Two and Three*/
.flashcardOutputTwo, .flashcardOutputThree {
    margin-top: 10px;
    margin-left: 970px;
    width: 250px;
    font-size: 20px;
    font-style: italic;
    color: blue;
    background-color: lightblue;
    text-align: center;
    font-family: Garamond;
}

/* Format the "add" buttons*/
.add, .addTwo, .addThree {
    margin-top: 50px;
    padding: 12px 28px;
    font-size: 12px;
    text-align: right;
    margin-right: 60px;
    font-family: Garamond;
}

/* Format the "clear" buttons*/
.clear, .clearTwo, .clearThree {
    margin-top: 20px;
    padding: 12px 28px;
    font-size: 12px;
    text-align: right;
    margin-right: 75px;
    font-family: Garamond;
}

.deleteAll {
    padding: 12px 28px;
    position: absolute;
    top: 800px;
    left: 850px;
    overflow: visible;
    font-size: 12px;
    text-align: left;
    font-family: Garamond;
}

/* Format the "list" (remove the bullet points)*/
.list {
    list-style-type:none;
}